version: '3.0'

services:

  zookeeper:
    image: zookeeper:3.8
    container_name: zookeeper
    hostname: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOO_STANDALONE_ENABLED: "true"
      ZOO_4LW_COMMANDS_WHITELIST: "*"

  nifi-node1:
    image: apache/nifi:1.28.1
    container_name: nifi-node1
    hostname: nifi-node1
    ports:
      - "8081:8080"
    environment:
      NIFI_WEB_HTTP_PORT: "8080"
      NIFI_SENSITIVE_PROPS_KEY: MySuperSecretKey123456!

      NIFI_CLUSTER_IS_NODE: "true"
      NIFI_CLUSTER_NODE_PROTOCOL_PORT: 9991
      NIFI_CLUSTER_NODE_ADDRESS: nifi-node1
      NIFI_ZK_CONNECT_STRING: zookeeper:2181

      NIFI_WEB_PROXY_HOST: AWS_NIFI_WEB_HTTP_HOST:8081

      NIFI_ZOOKEEPER_CONNECT_TIMEOUT: 3 sec
      NIFI_ZOOKEEPER_SESSION_TIMEOUT: 10 sec
      NIFI_ZOOKEEPER_RETRY_SLEEP: 500 millis
      NIFI_ZOOKEEPER_RETRY_COUNT: 3
      NIFI_CLUSTER_NODE_CONNECTION_TIMEOUT: 5 sec
      NIFI_CLUSTER_NODE_READ_TIMEOUT: 5 sec
      NIFI_CLUSTER_LOAD_BALANCE_ADDRESS_UPDATE_INTERVAL: 1 sec
    depends_on:
      - zookeeper

  nifi-node2:
    image: apache/nifi:1.28.1
    container_name: nifi-node2
    hostname: nifi-node2
    ports:
      - "8082:8080"
    environment:
      NIFI_WEB_HTTP_PORT: "8080"
      NIFI_SENSITIVE_PROPS_KEY: MySuperSecretKey123456!

      NIFI_CLUSTER_IS_NODE: "true"
      NIFI_CLUSTER_NODE_PROTOCOL_PORT: 9992
      NIFI_CLUSTER_NODE_ADDRESS: nifi-node2
      NIFI_ZK_CONNECT_STRING: zookeeper:2181

      NIFI_WEB_PROXY_HOST: AWS_NIFI_WEB_HTTP_HOST:8082

      NIFI_ZOOKEEPER_CONNECT_TIMEOUT: 3 sec
      NIFI_ZOOKEEPER_SESSION_TIMEOUT: 10 sec
      NIFI_ZOOKEEPER_RETRY_SLEEP: 500 millis
      NIFI_ZOOKEEPER_RETRY_COUNT: 3
      NIFI_CLUSTER_NODE_CONNECTION_TIMEOUT: 5 sec
      NIFI_CLUSTER_NODE_READ_TIMEOUT: 5 sec
      NIFI_CLUSTER_LOAD_BALANCE_ADDRESS_UPDATE_INTERVAL: 1 sec
    depends_on:
      - zookeeper

  nifi-node3:
    image: apache/nifi:1.28.1
    container_name: nifi-node3
    hostname: nifi-node3
    ports:
      - "8083:8080"
    environment:
      NIFI_WEB_HTTP_PORT: "8080"
      NIFI_SENSITIVE_PROPS_KEY: MySuperSecretKey123456!

      NIFI_CLUSTER_IS_NODE: "true"
      NIFI_CLUSTER_NODE_PROTOCOL_PORT: 9993
      NIFI_CLUSTER_NODE_ADDRESS: nifi-node3
      NIFI_ZK_CONNECT_STRING: zookeeper:2181

      NIFI_WEB_PROXY_HOST: AWS_NIFI_WEB_HTTP_HOST:8083

      NIFI_ZOOKEEPER_CONNECT_TIMEOUT: 3 sec
      NIFI_ZOOKEEPER_SESSION_TIMEOUT: 10 sec
      NIFI_ZOOKEEPER_RETRY_SLEEP: 500 millis
      NIFI_ZOOKEEPER_RETRY_COUNT: 3
      NIFI_CLUSTER_NODE_CONNECTION_TIMEOUT: 5 sec
      NIFI_CLUSTER_NODE_READ_TIMEOUT: 5 sec
      NIFI_CLUSTER_LOAD_BALANCE_ADDRESS_UPDATE_INTERVAL: 1 sec
    depends_on:
      - zookeeper
